@font-face {
   font-family: 'Thierry Leonie';
   src: url('/assets/fonts/tl/ThierryLeonie-Regular.eot');
   src: local('Thierry Leonie Regular'), local('ThierryLeonie-Regular'),
      url('/assets/fonts/tl/ThierryLeonie-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/tl/ThierryLeonie-Regular.woff2') format('woff2'),
      url('/assets/fonts/tl/ThierryLeonie-Regular.woff') format('woff'),
      url('/assets/fonts/tl/ThierryLeonie-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}


@font-face {
   font-display: swap;
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 300;
   src: url('/assets/fonts/qs/quicksand-v31-latin-300.eot');
   src: url('/assets/fonts/qs/quicksand-v31-latin-300.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/qs/quicksand-v31-latin-300.woff2') format('woff2'),
      url('/assets/fonts/qs/quicksand-v31-latin-300.woff') format('woff'),
      url('/assets/fonts/qs/quicksand-v31-latin-300.ttf') format('truetype'),
      url('/assets/fonts/qs/quicksand-v31-latin-300.svg#Quicksand') format('svg');
}

@font-face {
   font-display: swap;
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 400;
   src: url('/assets/fonts/qs/quicksand-v31-latin-regular.eot');
   src: url('/assets/fonts/qs/quicksand-v31-latin-regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/qs/quicksand-v31-latin-regular.woff2') format('woff2'),
      url('/assets/fonts/qs/quicksand-v31-latin-regular.woff') format('woff'),
      url('/assets/fonts/qs/quicksand-v31-latin-regular.ttf') format('truetype'),
      url('/assets/fonts/qs/quicksand-v31-latin-regular.svg#Quicksand') format('svg');
}

@font-face {
   font-display: swap;
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 500;
   src: url('/assets/fonts/qs/quicksand-v31-latin-500.eot');
   src: url('/assets/fonts/qs/quicksand-v31-latin-500.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/qs/quicksand-v31-latin-500.woff2') format('woff2'),
      url('/assets/fonts/qs/quicksand-v31-latin-500.woff') format('woff'),
      url('/assets/fonts/qs/quicksand-v31-latin-500.ttf') format('truetype'),
      url('/assets/fonts/qs/quicksand-v31-latin-500.svg#Quicksand') format('svg');
}

@font-face {
   font-display: swap;
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 600;
   src: url('/assets/fonts/qs/quicksand-v31-latin-600.eot');
   src: url('/assets/fonts/qs/quicksand-v31-latin-600.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/qs/quicksand-v31-latin-600.woff2') format('woff2'),
      url('/assets/fonts/qs/quicksand-v31-latin-600.woff') format('woff'),
      url('/assets/fonts/qs/quicksand-v31-latin-600.ttf') format('truetype'),
      url('/assets/fonts/qs/quicksand-v31-latin-600.svg#Quicksand') format('svg');
}

@font-face {
   font-display: swap;
   font-family: 'Quicksand';
   font-style: normal;
   font-weight: 700;
   src: url('/assets/fonts/qs/quicksand-v31-latin-700.eot');
   src: url('/assets/fonts/qs/quicksand-v31-latin-700.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/qs/quicksand-v31-latin-700.woff2') format('woff2'),
      url('/assets/fonts/qs/quicksand-v31-latin-700.woff') format('woff'),
      url('/assets/fonts/qs/quicksand-v31-latin-700.ttf') format('truetype'),
      url('/assets/fonts/qs/quicksand-v31-latin-700.svg#Quicksand') format('svg');
}